test03.flow
[
    {
        "id": "3978d740.fdbce8",
        "type": "inject",
        "z": "d8ca7e57.97744",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 240,
        "y": 140,
        "wires": [
            [
                "de0a49ab.d9f408",
                "38704217.b91c0e"
            ]
        ]
    },
    {
        "id": "de0a49ab.d9f408",
        "type": "debug",
        "z": "d8ca7e57.97744",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 530,
        "y": 140,
        "wires": []
    },
    {
        "id": "38704217.b91c0e",
        "type": "debug",
        "z": "d8ca7e57.97744",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 530,
        "y": 240,
        "wires": []
    }
]
